body{
    background-color: aqua;
}
#score{
    font-size: medium;
    margin: left;
}
#timer{
    font-size: medium;
    float: right;
    margin: right;
}
#sketch{
color: aquamarine;
}